@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="GeneratedPage" asp-action="FormEquation" asp-route-num="25" asp-route-symbol="1">25 Addition Equations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="GeneratedPage" asp-action="FormEquation" asp-route-num="50" asp-route-symbol="1">50 Addition Equations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="GeneratedPage" asp-action="FormEquation" asp-route-num="100" asp-route-symbol="1">100 Addition Equations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="GeneratedPage" asp-action="Index">Build Worksheet</a>
        </li>
    </ul>


</div>

