<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a4c2e221-799e-4813-80cb-82c82453ef00/resourceGroups/null/providers/Microsoft.Web/sites/EquationsWorksheet</ResourceId>
    <ResourceGroup>null</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://equationsworksheet.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://equationsworksheet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$EquationsWorksheet</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>